In [1]:
import pandas as pd

In [2]:
def read_my_data(x):
    my_data = pd.read_csv(x)
    return my_data

In [3]:
my_data = read_my_data("python_assignment_1.csv")

In [4]:
my_data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560

In [10]:
my_data.columns = my_data.columns.str.title()
my_data = my_data.replace(['positiveprime', 'negativeprime', 'positivetarget', 'negativetarget'], 
                ['Positive', 'Negative', 'Positive', 'Negative'])

In [25]:
my_data

     Participant     Prime    Target    Rt
0              1  Positive  Positive  1502
1              2  Positive  Positive  1535
2              3  Positive  Positive  1563
3              4  Positive  Positive  1492
4              5  Positive  Positive  1560
..           ...       ...       ...   ...
587          144  Negative  Negative  1474
588          145  Negative  Negative  1535
589          146  Negative  Negative  1575
590          147  Negative  Negative  1505
591          148  Negative  Negative  1471

[592 rows x 4 columns]

In [28]:
my_data.groupby('Prime').groupby

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'