# Importing Packages

In [46]:
import pandas as pd
import matplotlib.pyplot as plt

# Creating read_csv Function

In [47]:
def read_my_data(csv_file):
    my_data = pd.read_csv(csv_file)
    return my_data

In [48]:
my_data = read_my_data("python_assignment_1.csv")

In [49]:
my_data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560

# Tidying Data

my_data.columns = my_data.columns.str.title()
my_data = my_data.replace(['positiveprime', 'negativeprime', 'positivetarget', 'negativetarget'], 
                ['Positive', 'Negative', 'Positive', 'Negative'])

In [50]:
my_data.head()

   participant          prime          target    rt
0            1  positiveprime  positivetarget  1502
1            2  positiveprime  positivetarget  1535
2            3  positiveprime  positivetarget  1563
3            4  positiveprime  positivetarget  1492
4            5  positiveprime  positivetarget  1560

In [55]:
def run_my_anova(Participant, IV1, IV2, DV, data):
    mapping = {data.columns[0]: Participant, data.columns[1]: IV1, data.columns[2]: IV2, data.columns[3]: DV}
    data_frame = data.rename(columns=mapping)
    descriptives = data_frame[[IV1, IV2, DV]].groupby([IV1,IV2]).describe()
    return descriptives

In [56]:
run_my_anova('Participant', 'Prime', 'Target', 'RT', my_data)

                                 RT                                           \
                              count         mean        std     min      25%
Prime         Target
negativeprime negativetarget  148.0  1547.256757  52.382700  1417.0  1507.50
              positivetarget  148.0  1562.648649  50.468400  1440.0  1533.25
positiveprime negativetarget  148.0  1566.959459  54.016737  1448.0  1528.50
              positivetarget  148.0  1547.391892  44.879072  1430.0  1513.00


                                 50%      75%     max
Prime         Target
negativeprime negativetarget  1550.5  1580.50  1710.0
              positivetarget  1562.0  1587.00  1736.0
positiveprime negativetarget  1570.5  1602.25  1694.0
              positivetarget  1550.5  1584.25  1637.0

# Creating Visualisation

In [ ]:
plt.style.use('ggplot')
plt.plot(anova_data['Condition'], anova_data['RT'], 'bo')
plt.xlabel('Condition')
plt.ylabel('RT (ms.)')
plt.title('Reaction Time by Condition')
plt.margins(.5, .5)
plt.show()